.singlePage{
    display: flex;
    height: 100%;
   // 1. Enable scrolling behavior
   overflow-y: scroll; 

   // 2. Hide scrollbar for Chrome, Safari, and Opera
   &::-webkit-scrollbar {
       display: none;
   }

   // 3. Hide scrollbar for Firefox
   scrollbar-width: none;

   // 4. Hide scrollbar for IE and Edge
   -ms-overflow-style: none;
    .details{
        flex: 3;
        .wrapper{
            padding-right: 50px;
            .info{
                margin-top: 50px;
                .top{
                    display: flex;
                    justify-content:space-between;
                 .post{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    h1{
                    font-weight: 400;
                    }
                    .address{
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        color: #888;
                        font-size: 14px;
                        img{
                            width: 16px;
                            height: 16px;
                        }
            
                    }
                    .price{
                        padding: 5px;
                        background-color: rgba( 254,205,81,0.438);
                        border-radius: 5px;
                        width: max-content;
                        font-size: 20px;
                        font-weight: 300;

                    }

                 }
                 .user{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    padding: 0px 50px;
                    border-radius: 10px;
                    background-color: rgba(254,205,81,0.209);
                    font-weight: 600;
                  img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                  }
                 }
                }
                .bottom{
                  margin-top: 50px;
                  color: #555;
                  line-height: 20px;
                }
            }

        }

    }
    .features{
        flex: 2;
        background-color: #fcf5f3;
        .wrapper{
            padding: 0px 20px;

        }

    }
}